.outside-circle{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #0BF4CC;
}

.inside-circle{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: white;
}

.big-number{
  font-size: 5em;
}