.outside-circle {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #0BF4CC;
}

.inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background: white;
}

.big-number {
  font-size: 5em;
}