@import 'index';
@import 'variables';

@import "../../node_modules/bootstrap/scss/bootstrap";

.personalized-background {
    background-image: url('../assets/images/background-img.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.personalized-blur {
    background-color: rgb(0, 0, 0, 0.5);
}

.personalized-text>span {
    transition: all 0.3s ease-in-out;
}

.personalized-text:hover {
    cursor: pointer;
}

.personalized-text:hover>span {
    text-decoration: underline;
}

.personalized-position {
    position: relative;
}

.personalized-position>svg {
    position: absolute;
    right: 0;
    top: 0;
}

.personalized-position>svg:hover {
    cursor: pointer;
    stroke: #4EB3A4;
}

.personalized-pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(0, 0, 0, 0.5);

    z-index: 1000;
}

@include media-breakpoint-up(xs) {
    .personalized-width {
        width: 90% !important;
    }
}

@include media-breakpoint-up(md) {
    .personalized-width {
        width: 50% !important;
    }
}

@include media-breakpoint-up(lg) {
    .personalized-width {
        width: 40% !important;
    }
}

@include media-breakpoint-up(xl) {
    .personalized-width {
        width: 30% !important;
    }
}