$color_app_name: #0BF4CC;


aside {
  background-color: #fff;
  border-radius: 20px;
}

.fc {
  display: flex;
}

.sidebar-header{
  align-items: center;
  color:$color_app_name;
  font-size: 0.7rem;
  padding:1rem;

  img {
    height: 60px;
    margin-right: 1rem;
  }
}

.sidebar-nav {

  a {
    text-decoration: none;
    color:black;
  }

  ul {
    color: black;
    list-style: none;
  }

  ul  {
    align-items: center;
  }

  p {
    color:$color_app_name;
  }

  li {
    margin-top: 1rem;
  }

  li a{
    display: flex; /* Enables flexbox layout */
    align-items: center;

    img {
      margin-right: 10px;
    }

  }

}


.know-more-ai{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  width: 100px;
  margin: 0 1rem;
  margin-top: 6rem;
  padding: 1rem 3rem;
  background-color: #F1F1F1 ;

  img {
    height: 100px;
  }


  p {
    margin: 10px 0;
  }

  a {
    background-color: #000;
    font-size: 0.8rem;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
  }
}