@import '../../variables.scss';

.futbol-campo {
    background-image: url('../../assets/campo-futbol.jfif');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

    position: relative;
}

.change-button {
    border: none;
    background-color: black;

    height: 25px;
    width: 25px;

    padding: 0;
    margin: 0;

    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s ease-in-out;
}

.change-button:hover {
    background-color: $button_hover_color;
}

.selection-plantilla {
    p {
        width: 25%;
        text-align: center;
    }

    strong {
        width: 40%;
        text-align: center;
    }
}