@import "../node_modules/bootstrap/scss/bootstrap";
@import './variables.scss';


body {
  margin: 0;
  background-color: $background_color;
  font-family: $font_stack;
  color: $text_color;
}

h1,
h2,
h3,
h4,
p {
  margin: 0 0 0 0;
}

h1 {
  margin: 0;

  font-weight: 800;

  font-size: 2rem;
}

.scroll-section {
  overflow-y: auto;
}

.scroll-section::-webkit-scrollbar {
  width: 10px;
}

.scroll-section::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 10px;
}